<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>runtimeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFB5A3521CF6E25C00364B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB5A36B1CF6E25C00364B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB5A3761CF6E25C00364B21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
